@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
 font-family: 'Roboto', sans-serif;
    margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
    font-weight: 400;
    color:#000;
    font-size: 14px;
    letter-spacing: normal;   background:#F7F5FE;
    width: 100%;
    text-align: left;
}

*, ::after, ::before {
    box-sizing: border-box;
}* {
    margin: 0;
    padding: 0;
  }
  
a, p, span, ul, li{
    color:#414141;
    text-decoration: none;
    margin:0;
    padding:0;
	outline:none;
		list-style:none;
  

}
a:hover{
    text-decoration: none;
        transition: all 0.3s;
     color:#000;
}
p{
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.9em;
}
img{
    width: 100%;
    float: left;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html,
button,
input,
select,
textarea {
    font-family: "Lato", sans-serif;
	outline:none;
	border:0;
}
.main-outer{
    width: 100%;
    float: left;
    padding-left: 220px;
}
.main-otrer-top{
    width: 100%;
    float: left;
    display: block;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ad4680+0,4a54d1+100 */
background: #ad4680; /* Old browsers */
background: -moz-linear-gradient(left,  #ad4680 0%, #4a54d1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ad4680 0%,#4a54d1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ad4680 0%,#4a54d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad4680', endColorstr='#4a54d1',GradientType=1 ); /* IE6-9 */
padding:25px 25px 85px 25px;
color: #fff;
position: relative;
}
.top-manin-head{
    width: 100%;
    float: left;
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.main-content-area{
    width: 100%;
    float: left;
    z-index: 9;
    display: block;
    position: relative;
    padding: 5px 25px;
    margin-top: -65px;
}
.main-content-area-inner{
    width: 100%;
    float: left;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 7px;
padding: 20px 0px 15px;
}
.sub-head{
    width: 100%;
    float: left;
padding-bottom: 20px;
font-weight: 700;
color: #000;
padding-left: 20px;
padding-right: 20px;
font-size: 16px;
    display: block;
    border-bottom: 0.5px solid rgba(215, 215, 215, 0.53);
}
.main-content-section{
    width: 100%;
    float: left;
    display: block;
    padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
}
.common-button{
    width: auto;
    float: left;
    display: block;
    padding-top: 7px 15px;
}
