@media only screen and (max-width: 1700px) {
    .in-progress-name-thre-colm {
        font-size: 11px;
      }
      .skill-box {
              font-size: 13px;
       }
       .profile-content .inner-section {
         font-size: 12px;
        }
        .width-25 {
                     padding-left: 10px;
               padding-right: 10px;
        }
        .profile-name span {
                      font-size: 20px;
                     padding-bottom: 2px;
          }
          .profile-name p {
            font-size: 15px;
                 }
                 .profile-location-right .buttons-outer a {
                                padding: 8px 10px;font-size: 13px;
                      }
                      a.download-bt svg {
                        width: 14px;
                               }
                               .width-25 .card {
                                padding: 20px 15px;
                                                         }
}
.ReactModal__Overlay{
    position: fixed;
    inset: 0px;
    background-color: rgb(19 19 19 / 75%)!important;
    z-index: 111;
}


@media only screen and (max-width: 1500px){
.in-progress-name-thre-colm {
    font-size: 10px;
    padding-right: 2px;
    padding-left: 3px;
}
.recruitment-tabele th, .recruitment-tabele td {
    font-size: 13px;   padding: 11px 8px;
}
.in-progress-card--bt-top {
    font-size: 14px;
}
.inprograss-style {
    padding: 1px 7px;
     font-size: 13px;
}
.action-outer .delete-icon {
    margin-left: 5px;
}
.card-head-bg .card-header-sty {
    font-size: 17px;
}.card-header-bt-rigt {
    font-size: 13px;
    padding: 5px;
}
.in-progress-name-sty {
     font-size: 17px;
}
.skill-box {
    font-size: 12px;
}
.location-outer span {
    font-size: 12px;
}
.location-outer .in-progress-location {
    font-size: 12px;
}
.location-outer img {
    width: 15px;
}
.drag-sub-box {
       padding: 0 10px 3px;
}.sub-head {
    font-size: 20px;
}
.main-otrer-top {
    font-size: 25px;
  }
  .recruitment-tabele th:first-child {
    padding-left: 10px;
    padding-right: 4px;
}
.nav-item {
        font-size: 15px;
    }.width-8 {
        width: 9%;
    }
    .width-25 {
        width: 33.33%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .width-25 .card {
        padding: 20px 20px;
    }
}


@media only screen and (max-width: 1360px){
    .recruitment-tabele th, .recruitment-tabele td {
        font-size: 12px;
        }
        .in-progress-name-thre-colm {
            font-size: 9px;
        }
        .skill-box {
            font-size: 11px;
        }
        .location-outer .in-progress-location {
            font-size: 11px;
        }
        .location-outer span {
            font-size: 11px;
        }
        .in-progress-name-sty {
            font-size: 16px;
        }
        .in-progress-card--bt-top {
            font-size: 12px;    width: 140px;    padding: 6px 9px 4px;
        }
        .eye-new-icon svg {
            width: 22px  !important;
            height: 22px;
        }
}

@media only screen and (max-width: 1300px){
    .recruitment-table-outer {
        width: 97%;
        float: left;
        display: block;
        overflow: scroll;
        display: block;
        display: block !important;
        flex-wrap: nowrap!important;
        overflow: auto !important;
      }
    .recruitment-table-outer  table {
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        width: 100%;
        float: left;
        margin-top: 0;
        width: auto;
     }
    .recruitment-table-outer table thead {
        width: auto;
    }
    .recruitment-table-outer table tbody {
        width: 100%;
        float: left;    display: grid;
    }
    .recruitment-table-outer table tr {
        width: auto;
        display: flex;
    }
    .width-15 {
        width: 180px;
    }
    .width-12 {
        width: 140px;
    }
    .width-8 {
        width: 100px;
    }
    .width-10 {
        width: 120px;
    }
    .tab-outer-main{
        width: 99%;
        float: left;     overflow: scroll;
    }
    .tab-outer {
        width: 100%;
     overflow: scroll;
     display: flex;
    }
    .darg-outer {
        width: auto;
     overflow: scroll;
     display: flex;
    }
    .tab-outer .drag-boxs{
       width: 300px;
    } 
    .candidate-boxouter {
        width: 100% !important;
         }
         .candidate-boxouter:last-child {
            padding-right: 0;
        }

        .tab-outer .pagenation-outer {
            position: absolute;
            width: 100%;
            float: left;
            bottom: 0;
            left: -25px;
        }
        .recruitment-table-outer{
            margin-bottom: 40px;
        }
      
       }
@media only screen and (max-width: 1200px){
.recruitment-top-right-box {
     width: 79%;
}
.job-detils-modal {
    height: 600px;
    overflow: hidden;
    width: 85%;
}
.job-detils-modal .popup-content-height {
    height: 400px;
    overflow: scroll;
}
.job-outer {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}
.in-progress-name-thre-colm {
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 16px;
}
}
@media only screen and (max-width: 980px){
    .sidebar.is-open {
        margin-left: -250px !important;
        opacity: 0;
      }
        .nav-item a svg {
        float: left;
        margin-left: 16px;
        margin-right: 12px;
    }
    .sidebar {
        margin-left: 0 !important;
             width: 2
}
.wrapper .is-open .navbar-expand {
    padding-left: 10px;
}
.wrapper .is-open.content .inner-content-box {
    padding-left: 0;
}
.inner-content-box {
    padding-left: 0;
}
.navbar-expand {
    padding-left: 10px;
}
.sidebar-header > button {
    display: block ;
    padding: 0;
    padding-top: 15px;
    color: #a94442 !important
}
.hamber-icon{
    float: left;
}
.logo-mob{
    float: left;
    width: 120px;
    display: block;
}
.recruitment-top-right-box {
    float: right;
    width: 100%;
    padding-right: 0px;
    padding-top: 8px;
    padding-left: 12px;
    margin-bottom: 30px;
}
.tab-outer-main {
    width: 100%;
  }

    
  .job-detils-modal {
    height: 520px;
    overflow: hidden;
    width: 80%;
}
.job-detils-modal .popup-content-height {
    margin-bottom: 8px;
        height: 314px;
        overflow: scroll;
}
.job-detils-modal .popup-content-height .col-md-4{
    width: 50%;
    float: left;
}
.job-detils-modal .popup-content-height  .col-md-8{
    width: 100%;
    float: left;
}
.job-detils-modal .popup-content-height .mob-full{
    width: 100%;
}
.modal-footer-button-bg {
    border-top: 0.2px solid #dadada;
    float: left;
    width: 100%;
    padding-top: 23px;
}
.mob-show{
    display: block;
}
.desktop-show{
    display: none;
}
.mob-listview-top{
    margin-top: 30px;
}
.accrodion-mob-outer{
display: block;
}
.tb-mob-none{
    display: none;
}
.acc-status-change{
    float: right;
    padding-top: 3px;
}
.tabmob-none{
    display: none !important;
}
.accrodion-mob-outer  .accordion {
    padding: 5px 14px;
}

}
@media only screen and (max-width: 767px){
.calendar-width {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 10px;
    padding-right: 10px;
}
.search-icon-width {
    margin-left: 0;
}.recruitment-top-right-box {
    padding-left: 12px;
}
.job-outer {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
}
@media only screen and (max-width:650px){
    .listview-mob-top .col-2 {
        width: 23%;
    }
    .listview-mob-top .col-4 {
         width: 26%;  
       }
       .listview-mob-contant .col-1, .listview-mob-contant .col-2 {
        line-height: 21px;
        border-right: 1px solid #fff;
        font-size: 11px;
        padding: 5px 5px;
    }.listview-mob-top  .col-4 .select-dropdow {
        font-size: 11px;
     }
     .listview-mob-top .list-head-font {
        font-size: 12px;
        }
}
@media only screen and (max-width:573px)

{
    .sidebar {
        margin-left: -250px !important;
    }
    .sidebar.is-open {
        margin-left: 0px !important;
        opacity: 1;
    }
    .job-detils-modal .popup-content-height .col-md-4{
        width: 100%;
        float: left;
    }
    .listview-mob-contant .col-1, .listview-mob-contant .col-2 {
        line-height: 15px;
        height: 39px;
        padding: 5px  5px;
    }
}
@media only screen and (max-width:480px){
    .topbar-icon-right {
        font-size: 17px;
        color: #fff;
        margin-right: 4px;
    }
    .btn-outline-info .svg-inline--fa.fa-w-14 {
        font-size: 21px;
    }
    .logo-mob {
        width: 103px;
    }.topbar-icon-right-img {
        width: 24px;
          margin-top: -12px;
    }
    .hamber-icon {
         padding: 0px 7px 0;
    }
    .wrapper .is-open .navbar-expand {
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 4px;
    }
    .main-otrer-top {
        margin-top: 41px;    padding: 25px 25px 55px 25px;
    }
    .main-content-area {
              padding: 5px 25px;
        margin-top: -44px;
    }.sub-head {
        font-size: 17px;
        padding-left: 6px;
        padding-right: 10px;
}
.btn-maincolor {
    font-size: 12px;
    padding: 5px 8px;
}
.sidebar {
    margin-left: -250px !important;
}
.sidebar.is-open {
    margin-left: 0px !important;
    opacity: 1;
}
.listview-mob-top .col-1 {
display:block;
}
.listview-mob-top .col-2 {
    width: 37%;
}
.listview-mob-top .col-4 .select-dropdow{
    padding: 5px 6px;
}
.listview-mob-contant .col-1, .listview-mob-contant .col-2 {
    line-height: 21px;
    height:auto;
}
.candidate-infotm-bx{
    width: 100%;
    font: left;    display: block;
       overflow-y: hidden;
       height: auto;
    overflow-x: scroll;
}
.listview-mob-top {
    width:auto;
    float: left;
    display: flex;
    padding: 10px 0;
}
.listview-mob-top .col-2{
    width: 150px;    font-size: 12px;  
}
.listview-mob-top .col-1{
    width: 70px;  
    font-size: 12px;
}
.listview-mob-top  .col-4{     
    width: 100px;    font-size: 12px;
}.listview-mob-top .col-4 .select-dropdow {
    font-size: 12px;
}
.listview-mob-contant .col-1, .listview-mob-contant .col-2 {
  padding: 5px 10px;
}.accrodion-mob-outer  .acc-status-change {
    float:  right;
    padding-top: 7px;
    width: auto;
    padding-bottom: 5px;
}
.accordion-head-text {
    padding: 2px 1px;
}
.accord-detals-box {
    padding: 15px 15px;
}
.acc-status-change select {
    width: 93px;
font-size: 13px;    padding: 3px 9px;
}
.accordion-bottom-button {
    width: 210px;
    margin: 0px auto;
}
.accordion-bottom-button .more-button {
    width: 63px;
       font-size: 13px;
    border-radius: 15px;
    text-align: center;
    padding: 7px 0;
    margin-left: 2px;
    margin-right: 2px;
}
.top-right-outer.add-btn-div {
    margin-right: -8px;
    float: left;
    margin-top: 8px;width: 100%;
}
.add-btn-div .btn-maincolor {
    min-height: 34px;
    font-size: 12px;
    padding: 3px 8px;
    line-height: 13px;
}
.search-icon-width {
    margin-left: 0;
    width: 96%;
}
}