
.tab-module__tab {
    appearance: none;
    border: 0px solid #aaa;
    flex-grow: 1;
    padding: 0.75rem 1rem;
  }
  
  /*.tab-module__tab[aria-selected="true"] {
    background: #ffffff;
    color: #0f0f0f !important ;
    border-bottom: 2px solid #3f53c3;
  }
  */
  
  .tab-module__tablist {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  
  .tab-module__tab[aria-selected="true"] + .tab-module__tabcontent {
    display: flex;
  }
  
  .tab-module__tabcontent {
    flex-grow: 1;
    display: none;
    height: 100%;
    order: 1;
    padding: 0.75rem;
    width: 100%;
  }
 /* .tab-module__tab {
    -webkit-appearance: none;
    appearance: none;
    border: 0pxsolid #fff;
    flex-grow: 1;
    padding: 0px;
    margin: 0px !important;
    border-radius: 1% !important;
    width: 21px;
    height: 40px !important;
    background-color: #ffffff !important;
    border-bottom: 2px solid #e5e5e5;
}
*/
  @media (max-width: 768px) {
    .tab-module__tabcontent,
    .tab-module__tab {
      order: initial;
    }
  
    .tab-module__tab {
      width: 100%;
    }
  }
  