.head-style{
    background-color: bisque;
    color: rgb(219, 0, 0);
    padding: 15px 25px;
    margin-left:250px;
    background-image: linear-gradient(to right, #CF3A78ed , #5452E1);
}
.topbar-icon {
    font-size: 30px;
    color: #fff;
}

.topbar-icon-right {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}
.topbar-icon-right-img {
    border-radius: 30px;
    width: 30px;
}
@media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right: 5px;
}}

.navbar-brand {
    float: none !important;
   
    padding: 15px 15px;
   
    line-height: 20px;
}
.navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0px;
    border: 1px solid transparent;
}